*{
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.galeria {
    width: 100%;
}

.galeria img {
    width: 500px;
    /* Quitar espacio entre fotos */
    vertical-align: top;

    margin: 20px;
    border: 1px solid #484848;

    /* Para que se vea mejor el borde */
    padding: 5px;
    opacity: 0.5;

    transition: width 2s, height 2s, transform 2s;
}

.galeria img:hover{
    border: 1px solid white;
    opacity: 1;
    width: 600px;
    
    transform: rotate(10deg);
}
