*{
    margin: 0;
    padding: 0;
}

.contenedor{
    background: rgba(66, 7, 105, 0.438);
    padding: 10px;
    border: 10px solid #2c3e50;
    margin: 20px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elemento{
    border: 5px solid #2c3e50;
    color: #fff;
    margin: 5px;
    width: 100px;
    height: 50px;
    background: #120fbe62;
    text-align: center;
}

.elemento2, .elemento3{
    width: 200px;
}